<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= h(yield(:title) || "Untitled") %></title>
	
	<%= yield :head %>
</head>

<body>
	<div id="user_nav" style="float: right;">
	  <% if current_user %>
	    <%= link_to "Edit Profile", edit_user_path(:current) %> |
	    <%= link_to "Logout", logout_path %>
	  <% else %>
	    <%= link_to "Register", register_path %> |
	    <%= link_to "Login", login_path %>
	  <% end %>
	</div>
	
	<% if show_title? %>
		<h1><%=h yield(:title) %></h1>
	<% end %>
	
	<%= yield %>
</body>

</html>