<% form_for @user do |f| %>
  <%= error_messages @user %>

  <div>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div><%= f.submit "Submit" %></div>
<% end %>