<% form_for [:admin, @user] do |f| %>
	<%= error_messages(@product)%>
	
	<p>
		<strong><%= f.label :username %></strong><br />
		<%= f.text_field :username %>
	</p>
	
	<p>
		<strong><%= f.label :email %></strong><br />
		<%= f.text_field :email %>
	</p>
	
	<p>
		<strong><%= f.label :password %></strong><br />
		<%= f.password_field :password %>
	</p>
	
	<p>
		<strong><%= f.label :password_confirmation %></strong><br />
		<%= f.password_field :password_confirmation %>
	</p>

	<p><%= f.submit "Save", :class => "large orange awesome" %> 
	</p>
<% end %>