<% form_for [:admin, @user] do |f| %>
	<%= error_messages @user %>
	
	<div>
		<strong><%= f.label :username %></strong><br />
		<%= f.text_field :username %>
	</div>
	
	<div>
		<strong><%= f.label :email %></strong><br />
		<%= f.text_field :email %>
	</div>
	
	<div>
		<strong><%= f.label :password %></strong><br />
		<%= f.password_field :password %>
	</div>
	
	<div>
		<strong><%= f.label :password_confirmation %></strong><br />
		<%= f.password_field :password_confirmation %>
	</div>

	<p><%= f.submit "Save", :class => "large orange awesome" %></p>
<% end %>